<header role="banner">
  <div class="banner">
    <a href="/" data-link>
      <img class="conifers" src="/assets/conifers5.svg" alt="TrailStories Logo" width="450" height="196">
    </a>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- if page_paths -%}
    <nav>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <a href="{{ my_page.url | relative_url }}" data-link>{{ my_page.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
    {%- endif -%}
  </div>
</header>
